.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 4em 2em;
    min-height: 80vh;
}

.btns {
    align-self: center;
    display: flex;
    gap: 1em;
}

@media screen and (min-width: 800px) {
    .wrapper {
        max-width: 800px;
        margin: auto;
    }
}